*	{
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 1200px; 
	background: #fff;
	margin: 0 auto;
}

.container {
	margin: 0 120px;
	padding: 30px;
}

body {
	background: #999;
}

/*	HEADER */

.header h1 {
	line-height: 70px;
	font-family: Arial, sans-serif;
	font-size: 30px;
}

.header .navbar {
	background-color: #555 ;
	margin-bottom: 30px;
}

.header li {
	display: inline-block;
	list-style-type: none;
	line-height: 30px;
	width: 100px;
	text-align: center;
	
}

.header a {
	display: block;
	text-decoration: none;
	color: #fff;
	width: auto;
	height: auto;
	appearance: none;
}

.header a:hover {
	background: #444;
}

/* SIDEBAR */

.sidebar li {
	list-style-type: none;
	line-height: 30px;
	border: 1px solid #000;
	border-collapse: collapse;	
}

.sidebar ul {
	float: left;
	width: 30%;
}

.sidebar a {
	position: relative;
	left: 25px;
	text-decoration: none;
	color: #777;
}

.sidebar a:hover {
	position: relative;
	left: 35px;
	color: #222;
}

/* CONTENT */

.content {
	float: right;
	width: 65%;
}

img {
	width: 100%;
}

p {
	width: 90%;
	margin: 10px auto 50px;
}

/* FOOTER */

.footer .navbar {
	background: #ddd;
	clear: both;
	margin-bottom: 30px;
}

.footer li {
	display: inline-block;
	line-height: 30px;
	width: 100px;
	text-align: center;
}

#arr {
	float: right;
	width: 200px;
}

.footer a {
	text-decoration: none;
	color: #000;
}

.footer a:hover {
	text-decoration: underline;
}