* {
	padding: 0;
	margin: 0;
}

body {
	background: #999;
}

.wrapper {
	width: 1200px;
	height: 1000px;
	margin: auto;
	background: #999 url(../img/background.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

/* NAVBAR */

.navbar_line {
	background-color: #07518f;
}

/* Clearfix for modern browsers */
.navbar_line:before,
.navbar_line:after {
   content: "";
   display: table;
}
.navbar_line:after {
   clear: both;
}

/* Clearfix for IE6-7 */
.navbar_line {
   zoom: 1;
}

.navbar {
	margin-right: 20px;
}

.navbar li {
	float: right;
	list-style: none;
	line-height: 35px;
	color: #4eabda;
	padding: 0 12px;
}

.navbar li:first-child {
	background: linear-gradient(to top, #2e7ac4, #4faedb);
}

.navbar li:nth-child(3) {
	border-right: 1px solid #4eabda;
}

.navbar .blink:hover {
	color: #fff;
	background: linear-gradient(to top, #2e7ac4, #4faedb);
	cursor: pointer;
}

.navbar .no_blink {
	color: #fff;
}

.navbar a {
	color: #fff;
}
.navbar .no_blink--flag {
	background: url(../img/flag-icon.png) 18px center no-repeat;
	padding-left: 50px;
}

.no_blink--flag a {
	text-decoration: none;
}


/* FORM */

.form {
	color: #fff;
} 

.form-header {
	width: 550px;
	height: 62px;
	line-height: 62px;
	margin: 213px auto 2px;
/*	font-family: Tahoma, Arial, Helvetica, sans-serif;*/
	font-size: 24pt;
	text-align: center;
	color: #fff;
	background-color: rgba(10, 10, 10, 0.6);
}

.form-content {
	width: 550px;
	margin: auto;
	background-color: rgba(10, 10, 10, 0.6);
}

.facebook-btn {
	padding-top: 35px;
}

.facebook-btn button {
	display: block;
	width: 275px;
	height: 34px;
	border-radius: 5px;
	margin: 0 auto 33px;
}

.facebook-btn img {
	position: relative;
	top: -2px;
	left: -2px;
}

.ou img {
	display: block;
	margin: 0 auto 5px;
}

input {
	box-sizing: border-box;
}

.user_data input {
	display: block;
	width:  276px;
	height: 35px;
	background-color: #0f0f0f;
	color: #fff;
	border: none; 
	border-bottom: 1px solid #484948;
	padding: 0 18px;
	margin: 0 auto 20px;
}

.user_data input:focus {
	background-color: #1b5288;
	box-shadow: 0px 0px 30px 1px rgba(78,171,218,1);
}

input[type=checkbox] {
	margin: 0 10px 20px 135px;
}

input[type=submit] {
	display: block;
	width: 150px;
	height: 35px;
	border-radius: 3px;
	background: linear-gradient(to top, #2e7ac4, #4faedb);
	border-color: #6bb8e7;
	color: #fff;
	margin: auto;
}

.form-content .footer {
	padding: 20px 0;
	font-size: 9pt;
	text-align: center;
}